<div class="row">
  <% content_for :body_content_left do %>
  <div class="large-9 columns">
    <div class="section-container">
      <section class='section inquiries'>
        <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
        <%= render :partial => "/refinery/admin/error_messages",
        :locals => {
         :object => @inquiry,
         :include_object_name => true
       } %>
       <div class="row">
         <div class="large-6 columns">
          <%= f.required_label :name, :class => 'placeholder-fallback' %>
          <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <%= f.required_label :email, :class => 'placeholder-fallback' %>
          <%= f.email_field :email, :class => 'text email', :required => 'required', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <%= f.label :phone, :class => 'placeholder-fallback' %>
          <%= f.text_field :phone, :class => 'text phone', :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
        </div>
      </div>
      <div class="row">
        <div class="large-9 columns">
          <%= f.required_label :message, :class => 'placeholder-fallback' %>
          <%= f.text_area :message, :rows => 8, :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <div class="actions">
            <%= f.submit t('.send'), :class => 'button' %>
            <br>
            <small><%= link_to "Your secrets are safe with me.", "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %></small>
          </div>
        </div>
        <% end %>
      </section>
    </div>
  </div>
  <% end %>
</div>
<div class="row">
  <%= render :partial => "/refinery/content_page" %>
</div>
